body{
    margin-top: 30%;
}

.card{
    background-color: rgb(148, 146, 146);
}

.card-header{
    background-color: rgb(77, 75, 75);
}

.card-header-title{
    color: black;
}

.score{
    margin-top: -30px;
}

.winner{
    color: rgb(15, 90, 15);
}

.loser{
    color: rgb(139, 12, 12);
}